
            <div id="sidebar" class="col-lg-4 col-md-12 col-sm-12">
            	<div id="banner">
                    <%for(let ad of advertise){%>
                	<div class="banner-item">
                    	<a href="#"><img class="img-fluid" src="../uploads/images/<%=ad.image%>"></a>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</div>