<div id="slide" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <% for (let i = 0; i < slides.length; i++) { %>
        <li data-target="#slide" data-slide-to="<%= i %>" <% if (i === 0) { %> class="active" <% } %>></li>
        <% } %>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <% for (let i = 0; i < slides.length; i++) { %>
        <div class="carousel-item <% if (i === 0) { %> active <% } %>">
            <img src="../uploads/images/<%= slides[i].image %>" alt="Slide <%= i + 1 %>">
        </div>
        <% } %>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#slide" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#slide" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>