<body>

  <!--Header-->
  <div id="header">
    <div class="container">
      <div class="row">
        <div id="logo" class="col-lg-3 col-md-3 col-sm-12">
          <% if (configs) { %>
          <h1><a href="/"><img class="img-fluid" src="../uploads/images/logo/<%=configs?.logo_header%>"></a></h1>
          <% } else { %>
          <h1><a href="/"><img class="img-fluid" src="images/logo.png"></a></h1>
          <% } %>
        </div>
        <div id="search" class="col-lg-5 col-md-5 col-sm-12">
          <form id="formSearchHeader" action="/search" class="form-inline">
            <input name="keyword" class="form-control mt-3" type="text" placeholder="Tìm kiếm" aria-label="Search">
            <div class="autocom-box">
              <li>keyword 1</li>
              <li>keyword 2</li>
              <li>keyword 3</li>
            </div>
            <button class="btn btn-danger mt-3" type="submit">Tìm kiếm</button>
          </form>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <% if (customer) { %>
            <a style="color: #d35400; text-transform: capitalize; height: 30px; line-height: 30px;"><%=customer?.username%></a>
            <a style="text-transform: capitalize; height: 30px; line-height: 30px;" class="text-danger" href="/logout">Đăng xuất</a>
            <% } else { %>
            <a style="color: #3498db; text-transform: capitalize; height: 30px; line-height: 30px;" href="/signin">đăng nhập</a>
            <a style="color: #eb1f27; text-transform: capitalize; height: 30px; line-height: 30px;" href="/signup">đăng kí</a>
            <% } %>
          </div>
        </div>
        <div id="cart" class="col-lg-2 col-md-2 col-sm-12" style="padding-right: 10px;">
          <a class="mt-4 mr-2" href="/cart">giỏ hàng</a><span class="mt-3"><%=totalCartItems%></span>
        </div>
      </div>
    </div>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <!--End Header-->

  <div type="hidden" id="data-container" data-name-products="<%= JSON.stringify(nameProducts) %>"></div>

  <script>
    const formSearchHeader = document.getElementById('formSearchHeader')
    const inputSearch = document.querySelector('[name="keyword"]')
    const suggBox = document.querySelector('.autocom-box')
    const dataContainer = document.getElementById('data-container');

    const nameProducts = JSON.parse(dataContainer.dataset.nameProducts);
    let dataSuggest = []

    inputSearch.onkeyup = (e) => {
      const keyword = e.target.value
      if (keyword) {
        dataSuggest = nameProducts.filter((data) => {
          return data.toLocaleLowerCase().startsWith(keyword.toLocaleLowerCase())
        }).slice(0, 3)
        dataSuggest = dataSuggest.map((data) => {
          return data = '<li>' + data + '</li>'
        })
        formSearchHeader.classList.add('active')
        showSuggestions(dataSuggest)
        let allList = suggBox.querySelectorAll('li')
        for (let i = 0; i < allList.length; i++) {
          allList[i].setAttribute('onclick', 'select(this)')
        }
      } else {
        formSearchHeader.classList.remove('active')
      }
    }

    function select(element) {
      let selectData = element.textContent
      inputSearch.value = selectData
      formSearchHeader.classList.remove('active')
    }

    function showSuggestions(list) {
      let listData
      if (!list.length) {
        keywordDefault = inputSearch.value
        listData = '<li>' + keywordDefault + '</li>'
      } else {
        listData = list.join('')
      }
      suggBox.innerHTML = listData
    }
  </script>